//
//  SecretConfig.xcconfig
//  VGS
//
//  Created by leo.shin on 5/23/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_API_KEY = 77561fbc1652a271d377f815ab1fa6bc
VGS_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6ImFwaVN5c3RlbVVzZXIyIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZSI6ImFwaVN5c3RlbVVzZXIyIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvZW1haWxhZGRyZXNzIjoiIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZWlkZW50aWZpZXIiOiI4ZmJmOTQ3MC1lMWY4LTQ3ZTYtYTE3NS0xYTFjYmVjOWE2NzAiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL2V4cGlyYXRpb24iOiI17JuUIOuqqSAyMiAyMDI1IDA5OjQyOjI2IOyYpOyghCIsIm5iZiI6MTc0NzgyMDU0NiwiZXhwIjoyMDYzMTgwNTQ2LCJpc3MiOiJodHRwczovL2h5eS5pcmZtLnRqbGFic2NvcnAuY29tIiwiYXVkIjoiaHR0cHM6Ly9oeXkuaXJmbS50amxhYnNjb3JwLmNvbSJ9.7tu63aso-XL8tRzUoVkridVMgmRzM5_N9zwAQaPpOYE"

// MARK: DEV
// VGS_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6ImFwaVN5c3RlbVVzZXI1IiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZSI6ImFwaVN5c3RlbVVzZXI1IiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvZW1haWxhZGRyZXNzIjoiIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZWlkZW50aWZpZXIiOiIwZDUxYTI0YS04NWNhLTQ4OWItODZmYy03MDE3NjBjNjQ4YjIiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL2V4cGlyYXRpb24iOiI17JuUIOuqqSAwOCAyMDI1IDA5OjIxOjAyIOyYpOyghCIsIm5iZiI6MTc0NjYwOTY2MiwiZXhwIjoxNzQ5MjAxNjYyLCJpc3MiOiJodHRwczovL3RqLnNoaW5qamFuZy5jb20iLCJhdWQiOiJodHRwczovL3RqLnNoaW5qamFuZy5jb20ifQ.2ncWpMJLYoVMoY_K0RLPF1od0VaHvqCh-trXcaaqo8M"
